/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

/* Playing Animation */
.playing {
  background: rgba(255, 255, 255, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.playing__bar {
  display: inline-block;
  background: white;
  width: 30%;
  height: 100%;
  animation: up-and-down 1.3s ease infinite alternate;
}

.playing__bar1 { height: 60%; }
.playing__bar2 { height: 30%; animation-delay: -2.2s; }
.playing__bar3 { height: 75%; animation-delay: -3.7s; }

@keyframes up-and-down {
  10% { height: 30%; }
  30% { height: 100%; }
  60% { height: 50%; }
  80% { height: 75%; }
  100% { height: 60%; }
}

/* Heading */
h1 {
  font-size: 2.5rem;
  color: #a6dcef;
  text-align: center;
}

/* Footer */
.software-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 2rem 0;
}

.software-card {
  background-color: #2e3440;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 220px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.software-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.software-img {
  width: 100%;
  max-height: 110px;
  border-bottom: 2px solid #2e3440;
}

.software-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  /* background-color: #0A3069; */
  background-color:#161b22;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.software-btn:hover {
  background-color: #0A3069;
}

/* Button Specific Styles */
#audio-metadata-btn, #audio-convert-btn, #audio-formats-btn, #audio-tools-btn{
  color: #fff;
}

#audio-metadata-btn { background-color: #310a70; }
#audio-convert-btn { background-color: #375887; }
#audio-formats-btn { background-color: #0A3069; }
#audio-tools-btn { background-color: #341c51; }


#audio-metadata-btn:hover, #audio-convert-btn:hover, #audio-formats-btn:hover, #audio-tools-btn:hover {
  background: #8b949e;
  color: #fff;
}

/* Equal Width Buttons */
.equal-width-btn {
  width: 140px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-decoration: none;
}

/* Container Styling */
.d-flex {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .equal-width-btn {
    width: 80%;
    font-size: 1rem;
  }
}

h4 .s {
  display: inline-block;
}

.storage-info {
  display: inline-block;
  font-size: 0.9rem;
}

.storage-amount {
  display: block;
  font-weight: bold;
}

.storage-status {
  display: block;
  color: #28a745; /* Optional: You can change the color */
}
